<html>
    <head>
        <title>Delete a Movie</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
<body>

<h1>So you want to delete a movie?</h1>
	<form action="/delete-movie/" method="POST">
		There is no going back...be sure what you want!</br>
	    <input type="text" name="title" placeholder="Movie title">
	    <input type="hidden" name="_method" value="delete">
	    <input type="submit" value="Delete it!">
	</form>

<form action="/" method="GET">
    <input type="submit" value="No wait! Go back!" />
</form>

</body>
</html>