<!-- Delete confirmation of what was deleted from the database -->

<!DOCTYPE html>
    <head>
        <title>Delete Confirmation</title>
        <link rel="stylesheet" type="text/css" href="/style.css">

           <script>
        var movie_image_array = ['http://hitwallpaper.com/wp-content/uploads/2013/07/pixar-up_00382816.jpg','http://thesmashable.com/wp-content/uploads/2012/06/the_avengers-wallpaper-1920x1080.jpg', 'http://wallpapercave.com/wp/ZnW08HK.jpg', 'http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/07/Disney-Toys-HD-Wallpapers.jpg', 'http://www.hdwallpapersfreedownload.com/uploads/large/super-heroes/best-marvel-movie-ironman-wallpaper-hd.jpg', 'http://lbc9.net/movies-and-tv/movie/harry-potter-and-the-goblet-of-fire/goblet-of-fire-1920x1080.jpg', 'http://www.hdwallpapers.in/walls/harry_potter_and_the_deathly_hallows_part_1-HD.jpg', 'http://lbc9.net/movies-and-tv/movie/harry-potter-and-the-chamber-of-secrets/harry-potter-and-the-chamber-of-secrets-hd-wallpaper.jpg', 'https://images8.alphacoders.com/705/thumb-1920-705966.jpg', 'http://stylishhdwallpapers.com/wp-content/uploads/2015/02/Pirates-Of-The-Caribbean-Movie-Poster-HD-Wallpaper.jpg', 'http://www.freebighero6.com/wallpapers/Big-Hero-6-Movie-Hiro-and-Baymax-HD-Wallpaper.jpg', 'https://images.alphacoders.com/273/thumb-1920-273893.jpg', 'http://www.wallhd4.com/wp-content/uploads/2015/03/hunger-games-wallpaper-hd-7.jpeg', 'http://stylishhdwallpapers.com/wp-content/uploads/2016/07/Melissa-McCarthy-Ghostbusters-2016-Movie-HD-Wallpaper.jpg', 'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcGQf3wrQaT_GZ9p2FEDbqDWhDPDJ2z6W8wp5Us4f3stV4vZ2UVCiSxl_OPBvby7jEzAhcWS_MGP1P_PoKpaxQ5uwVzPlxFcrzZ9iZPVWE0SFSP7QXZ5GbaG9RjjGlO3hVz18Xs.iOuwGwg8LxjhVQZ5j7xvRt1N9UYmiR_pr6PhA-&format=jpg','http://cdn.wallpapersafari.com/86/83/c7nmps.jpg', 'http://cdn.wallpapersafari.com/33/41/eBxvR2.jpg', 'http://www.techagesite.com/despicable-me/despicable-me-2-minions-desktop-wallpaper-hd-1920x1080-lunch-break.jpg', 'http://www.mrwallpaper.com/wallpapers/minions-despicable-me-1920x1080.jpg', 'http://www.mrwallpaper.com/wallpapers/jurassic-world-movie-1920x1080.jpg', 'http://www.sz0931.com/data/out/13/52732864-brave-wallpaper.jpg', 'http://www.wallpaperspick.com/wp-content/uploads/2015/08/Alice-In-Wonderland-Movie-2016-HD-Wallpaper-02556.jpg', 'https://awesomewallpapers.files.wordpress.com/2016/09/3xmofkkllpygbcdk84jv8h9v52f.jpg', 'http://wallpapersdsc.net/wp-content/uploads/2016/09/The-LEGO-Movie-High-Quality-Wallpapers.jpg', 'http://cdn.wallpapersafari.com/49/69/ZrTng7.jpg', 'http://wallpapercave.com/wp/09GGEti.jpg', 'http://www.wallpapersbyte.com/wp-content/uploads/2015/12/Star-Wars-The-Force-Awakens-Movie-Main-Characters-WallpapersByte-com-1920x1080.jpg', 'https://images6.alphacoders.com/425/425706.jpg', 'https://images4.alphacoders.com/273/thumb-1920-273794.jpg'],
    		

		select_image = movie_image_array[Math.floor(Math.random() * movie_image_array.length)];

		document.body.style.backgroundImage = 'url(' + select_image + ')';
		document.body.style.backgroundSize = "cover";
		</script>
    </head>
<body>

<div class="input-container">
<p>
You just deleted <strong><%= title %></strong> from your movie database.</br>
Want do you want to do now?
</p>

<div class="return-buttons">
<form action="/" method="GET">
    <input type="submit" value="Main Menu" />
</form></br>

<form action="/view-movie/" method="GET">
    <input type="submit" value="View my movies" />
</form>
</div>
</div>
</body>
</html>