<!-- Delete confirmation of what was deleted from the database -->

<!DOCTYPE html>
    <head>
        <title>Delete Confirmation</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
<body>

<p class="confirmation">
You just deleted <%= title %> from your movie database.</br>
Want do you want to do now?
</p>

<div class="button-actions">
<form action="/" method="GET">
    <input type="submit" value="Return to main" />
</form>

<form action="/delete-movie/" method="GET">
    <input type="submit" value="Delete another movie" />
</form>

<form action="/view-movie/" method="GET">
    <input type="submit" value="View my movies" />
</form>
</div>
</body>
</html>