<!-- Prints out the confirmation of what was edited in the database -->

<html>
    <head>
        <title>Editing the Database</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
<body>

<p>
The movie you entered is now called <%= new_title %> and instead of <%= title %>.</br>
Want to edit another movie?
</p>

<form action="/" method="GET">
    <input type="submit" value="<< Return to main" />
</form>

</body>
</html>