<!-- Add a review for a movie -->


<!DOCTYPE html>
    <head>
        <title>Adding a review</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
<body>

<h1>What did you think?</h1>

<form action="/" method="GET">
    <input type="submit" value="<< Return to main" /></br></br>
</form>

<div class="input-container">
<form action="/review-movie/" method="POST">
    <input type="text" name="title" placeholder="Movie Title"></br></br>
    <input type="text" name="review" placeholder="Review"></br></br>
    <input type="submit" value="Add Review"></br></br>
</form>
</div>

</body>
</html>