<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>Movie Database</title>
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<hgroup>

		<a href="/"><div class="header-background">
			<div class="box" id="box">
				<h1>Personal Movie Database</h1>
				<h2>Grab some popcorn!</h2>
		</a>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		
	</footer>
</body>
</html>