<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title> Movie Database</title>
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<hgroup>
		<div class="movie-background">
			<div class="box">
				<h1><a href="/">Personal Movie Database</a></h1>
				<h2>Grab some popcorn!</h2>
			</div>
		</div>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		
	</footer>
</body>
</html>