<!-- This is the main page where a user can choose how to interact with the database -->

<html>
    <head>
        <title>Movie Database</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
<body>

<h1>Welcome to the movie database! Select your action:</h1>

<form action="/new-movie/" method="GET">
    <input type="submit" value="Add a movie" />
</form>

<form action="/delete-movie/" method="GET">
    <input type="submit" value="Delete a movie" />
</form>

<form action="/review-movie/" method="GET">
    <input type="submit" value="Review a movie" />
</form>

<form action="/view-movie/" method="GET">
    <input type="submit" value="View my movies" />
</form>

</body>
</html>