/*****************************************************************/
/*                       General styles 					     */
/*****************************************************************/
html, body {
	height: 100%;
	width: 100%;
	display: block;
	background-color: #aaaaaa 
	background-position: auto;
}

.main-movie {
	background-color: #fff;
	opacity: 0.2;
}

header {
	text-align: center;
	margin: 0 0 20px;
}

h1 {
	text-align: center;
	display: inline;
	font-size: 64px;
	color: #999;
}

header h1 a:link, header h1 a:visited {
	color: #444;
	text-decoration: none;
}

header h2 {
	text-align: center;
	font-size: 30px;
	color: #999;
}

h3 {
	text-align: center;
}

#main {
	margin: 0 0 10px;
}

#add {
	margin: 0 0 20px;
}

#add textarea {
	height: 30px;
	width: 510px;
	padding: 10px;
	border: 1px solid #ddd;
}

#add input {
	height: 50px;
	width: 100px;
	margin: -50px 0 0;
	border: 1px solid #ddd;
	background-image: url("/images/search.png");
}

#edit textarea {
	height: 30px;
	width: 480px;
	padding: 10px;
	border: 1px solid #ddd;
}

/*****************************************************************/
/*                       Button styles 					         */
/*****************************************************************/
div.home-buttons {
	width: 220px;
    height: 100px; 
    padding-left: 90px;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding-right: 15px;

}

div.home-container {
	margin-left: 320px;
	margin-top: 20px;
	max-width: 700px;
	background-color: #fff;
	opacity: 0.7;
	filter: alpha(opacity=60);
	border-radius: 25px;
}

input[type=submit] {
	height: 30px;
	width: auto;
	border: 1px solid black;
	display: inline;
	border-radius: 15px;
	margin-right: 20px;
}

input[type="submit"]:hover {
    border: 1px solid #fff;
    background-color: #99ccff;
    color: #fff;
}

/*****************************************************************/
/*                  Movie header styles 					     */
/*****************************************************************/
div.header-background {
	padding-left: 200px;
	max-width: 800px;
	margin-top: 20px;
	margin-left: 70px;
	margin-right: 70px;
	padding-bottom: 15px;
	padding-top: 30px;
	margin-bottom: 15px;
}

div.box {
	margin-bottom: 0px;
	background-color: #fff;
	opacity: 0.6;
	filter: alpha(opacity=60);
	padding-bottom: 0.5px;
	border-radius: 25px;
}

div.box:hover {
	background-color: #333;
	opacity: 0.6;
	border: 3px solid #fff;
}

div.box h1 {
	margin: 5%;
	padding-top: 20px;
	font-weight: bold;
	color: #000;
}

div.box:hover h1 {
	color: #fff;
}

div.box h2 {
	margin: 5%;
	color: #000;
	padding-bottom: 0px;
}

div.box:hover h2 {
	color: #fff;
}

/*****************************************************************/
/*                View movie table styles 					     */
/*****************************************************************/
div.data-contain {
	padding-bottom: 10px;
	padding-left: 280px;
}

div.data-contain h2 {
	color: #fff;
	text-align: center;
	padding-right: 250px;
}

div.data-table {
	background-color: #fff;
}

/* Sortable tables */
table.sortable thead {
    background-color:#a8a8a8;
    color:#ffffff;
    font-weight: bold;
    cursor: pointer;
}

table {
	border: 1px solid black;
	background-color: #fff;
	text-align: center;
}

/*****************************************************************/
/*                  Form button styles 					         */
/*****************************************************************/
div.input-container {
	background-color: #fff;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-top: 15px;
	border-radius: 25px;
	max-width: 800px;
	margin-left: 270px;
	opacity: 0.7;
}

input[type=text] {
    background-color: white;
    background-repeat: no-repeat;
}

div.search-findings p {
	margin-right: 20px;
	margin-left: 20px;
}

div.search-findings {
	background-color: #fff;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-top: 15px;
	border-radius: 25px;
	max-width: 800px;
	margin-left: 270px;
}

p.confirmation {
	text-align: center;
}

.meta {
	font-size: 0.8em;
	font-style: italic;
	color: #888;
}

.links {
	font-size: 1.8em;
	line-height: 0.8em;
	float: right;
	margin: -10px 0 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#js {
	background-position: center;
}